################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSD.UI.Tests/obj/Debug
/packages
/.vs
/SSD.UI.Tests/bin/Debug
