<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="loginUrl" value="https://stirling.she-development.net/automation"/>
    <add key="browser" value="CHROME"/>
    <add key="userName" value="ArchanaD"/>
    <add key="password" value="Evo@23"/>
  </appSettings>
</configuration>